{% extends 'Shop/basic.html' %}
{% block title %}Contact Us{% endblock %}
{% block body %}

<style>
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  img {
      max-width: 100%;
      height: auto;
  }
}
</style>

<div class="container">
  <div style="text-align:center">
    <h2>Contact Us</h2>
    <p>We are here to help you out</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="https://cdn.dribbble.com/users/753420/screenshots/5299288/attachments/1149383/img_0615.png?" style="width:100%">
    </div>
    <div class="column">
      <form action="/Shop/contact/" method="POST">
      {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Your name..">
        <label for="email">Email id</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="example@msil.com...">
        <label for="subject">Subject</label>
        <input type="text" class="form-control" name="subject">
        <label for="desc">Tell Us</label>
        <textarea class="form-control" id="desc" name="desc" placeholder="Write Your Problem.." style="height:50px"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock  %}
{%block js%}
<script>
{%if thank%}
alert('Thanks for contacting us. We will get back to you soon');
document.location = "/Shop/contact";
{%endif%}
</script>
{%endblock%}


